<div class="grid place-items-center">
    <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
        <label for="username" class="block text-2xl font-bold text-gray-800 capitalize pb-5">What is your name?</label>
        <input
            type="text"
            ngModel
            #username="ngModel"
            name="username"
            required
            minlength="2"
            id="username"
            class="p-2 w-40 bg-gray-50 rounded-lg h-8 border border-gray-300"
        />
        <button
            type="submit"
            [disabled]="loginForm.form.invalid"
            class="bg-red-800 shadow-xl w-20 h-8 mx-auto -my-4 rounded-3xl text-white ml-10"
        >
            Login
        </button>
        <div *ngIf="username.errors && (username.dirty || username.touched)">
            <p *ngIf="username.errors?.['required']">Name is required</p>
            <p *ngIf="username.errors?.['minlength']">Name must be at least 2 characters</p>
        </div>
    </form>
</div>
